In [1]:
import pandas as pd

In [2]:
# Read Excel file with all possible features
workshop_features = pd.read_excel("workshop_features.xlsx")

In [3]:
workshop_features

                  feature    group  workshop
0             arable_prop   arable         1
1    arable_prop_buff_100   arable         0
2   arable_prop_buff_1000   arable         0
3    arable_prop_buff_500   arable         0
4                    area     area         1
..                    ...      ...       ...
77               twi_mean      twi         1
78                twi_std      twi         0
79             urban_prop    urban         1
80             water_prop    water         1
81           wetland_prop  wetland         1

[82 rows x 3 columns]

In [4]:
# Extract selected features
use_features = workshop_features[workshop_features["workshop"] == 1]["feature"].to_list()

In [5]:
use_features

['arable_prop',
 'area',
 'clay1_mean',
 'forest_prop',
 'grassland_prop',
 'k1_mean',
 'limestone_prop',
 'livestock_density',
 'other_prop',
 'precip_mean',
 'rock1_mean',
 'sand1_mean',
 'silt1_mean',
 'slope_mean',
 'soc1_mean',
 'stream_density',
 'twi_mean',
 'urban_prop',
 'water_prop',
 'wetland_prop']

In [6]:
# Read ML input file with all possible features
ml_input = pd.read_csv("tn_ml_input.csv", sep=",")

In [7]:
ml_input

,site_code,obs_year,parameter,obs_value,arable_prop,arable_prop_buff_100,arable_prop_buff_1000,arable_prop_buff_500,area,awc1_min,...,tri_max,tri_mean,tri_std,twi_min,twi_max,twi_mean,twi_std,urban_prop,water_prop,wetland_prop
0,SJA0088000,2016,TN,1.138,0.122,0.152,0.150,0.178,704297025.0,0.161,...,2.977,0.085,0.108,2.262,15.093,9.851,1.138,0.012,0.004,0.084
1,SJA0088000,2017,TN,1.175,0.122,0.152,0.150,0.178,704297025.0,0.161,...,2.977,0.085,0.108,2.262,15.093,9.851,1.138,0.012,0.004,0.084
2,SJA0106000,2016,TN,5.967,0.428,0.307,0.380,0.368,26553800.0,0.187,...,1.517,0.070,0.072,3.415,13.996,10.252,1.046,0.018,0.000,0.021
3,SJA0106000,2017,TN,4.175,0.428,0.307,0.380,0.368,26553800.0,0.187,...,1.517,0.070,0.072,3.415,13.996,10.252,1.046,0.018,0.000,0.021
4,SJA0106000,2018,TN,4.225,0.428,0.307,0.380,0.368,26553800.0,0.187,...,1.517,0.070,0.072,3.415,13.996,10.252,1.046,0.018,0.000,0.021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,SJB3502000,2019,TN,5.347,0.579,0.460,0.498,0.471,18557575.0,0.174,...,1.723,0.076,0.095,3.264,14.062,10.334,1.200,0.023,0.003,0.025
465,SJB3502000,2020,TN,5.596,0.579,0.460,0.498,0.471,18557575.0,0.174,...,1.723,0.076,0.095,3.264,14.062,10.334,1.200,0.023,0.003,0.025
466,SJB3503000,2020,TN,8.225,0.537,0.316,0.523,0.453,112294125.0,0.174,...,2.764,0.099,0.111,2.279,15.563,10.033,1.392,0.028,0.002,0.014
467,SJB3510000,2019,TN,8.090,0.475,0.271,0.573,0.497,29300575.0,0.174,...,2.757,0.134,0.201,2.321,14.517,9.690,1.718,0.025,0.004,0.096
468,SJB3510000,2020,TN,7.049,0.475,0.271,0.573,0.497,29300575.0,0.174,...,2.757,0.134,0.201,2.321,14.517,9.690,1.718,0.025,0.004,0.096

In [8]:
# Create list of columns to drop from ML input
drop_cols = []
for col in ml_input.columns:
    if col not in use_features and col not in ["site_code", "obs_year", "obs_value"]:
        drop_cols.append(col)

In [9]:
# Drop unnecessary columns
ml_input = ml_input.drop(drop_cols, axis=1)

In [10]:
# Add observation ID based on index
ml_input.insert(0, "obs_id", ml_input.index + 1)

In [11]:
ml_input.head()

,obs_id,site_code,obs_year,obs_value,arable_prop,area,clay1_mean,forest_prop,grassland_prop,k1_mean,...,rock1_mean,sand1_mean,silt1_mean,slope_mean,soc1_mean,stream_density,twi_mean,urban_prop,water_prop,wetland_prop
0,1,SJA0088000,2016,1.138,0.122,704297025.0,21.031,0.706,0.035,59.083,...,4.072,65.292,13.677,0.875,8.971,0.001,9.851,0.012,0.004,0.084
1,2,SJA0088000,2017,1.175,0.122,704297025.0,21.031,0.706,0.035,59.083,...,4.072,65.292,13.677,0.875,8.971,0.001,9.851,0.012,0.004,0.084
2,3,SJA0106000,2016,5.967,0.428,26553800.0,25.857,0.491,0.025,16.544,...,5.801,55.326,18.817,0.813,8.528,0.000,10.252,0.018,0.000,0.021
3,4,SJA0106000,2017,4.175,0.428,26553800.0,25.857,0.491,0.025,16.544,...,5.801,55.326,18.817,0.813,8.528,0.000,10.252,0.018,0.000,0.021
4,5,SJA0106000,2018,4.225,0.428,26553800.0,25.857,0.491,0.025,16.544,...,5.801,55.326,18.817,0.813,8.528,0.000,10.252,0.018,0.000,0.021

In [12]:
ml_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   obs_id             469 non-null    int64
 1   site_code          469 non-null    object
 2   obs_year           469 non-null    int64
 3   obs_value          469 non-null    float64
 4   arable_prop        469 non-null    float64
 5   area               469 non-null    float64
 6   clay1_mean         467 non-null    float64
 7   forest_prop        469 non-null    float64
 8   grassland_prop     469 non-null    float64
 9   k1_mean            467 non-null    float64
 10  limestone_prop     469 non-null    float64
 11  livestock_density  469 non-null    float64
 12  other_prop         469 non-null    float64
 13  precip_mean        467 non-null    float64
 14  rock1_mean         467 non-null    float64
 15  sand1_mean         467 non-null    float64
 16  silt1_mean         467 non-null    float64
 17  slope_mean         469 non-null    float64
 18  soc1_mean          467 non-null    float64
 19  stream_density     469 non-null    float64
 20  twi_mean           469 non-null    float64
 21  urban_prop         469 non-null    float64
 22  water_prop         469 non-null    float64
 23  wetland_prop       469 non-null    float64
dtypes: float64(21), int64(2), object(1)
memory usage: 88.1+ KB

In [13]:
# Write to CSV
ml_input.to_csv("agile2024_tn_ml_input.csv", sep=",", index=False)